# Python
__pycache__/
*.pyc
.pytest_cache/
.coverage
.venv/
venv/
*.db

# Flask
instance/
.env

# Node
frontend/node_modules/
frontend/dist/
frontend/*.tsbuildinfo
frontend/vite.config.js
frontend/vite.config.d.ts
